.app-container {
  justify-content: center;
  background-color: #cccccc;
  display: flex;
  height: 100%;
  position: absolute;
  width: 100%;
}

.warning-container {
  align-items: center;
  border: solid 1px red;
  border-radius: 10px;
  display: flex;
  height: 50px;
  margin: 12px;
  padding: 12px;
  transition: all 0.4s linear;
  transition-property: border, border-radius, background-color;
}

.warning-container:hover {
  background-color: white;
  border: solid 1px black;
  border-radius: 20px;
}
